
    <div style="font-size:20px;font-weight:bold; margin:3% 25%">BÁO CÁO DOANH THU THÁNG @ViewBag.doanhthu[6] NĂM @ViewBag.doanhthu[7]</div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Dư nợ đầu kỳ</th>
                <th>Dư có đầu kỳ</th>
                <th>HĐ in trong tháng</th>
                <th>Doanh thu phải thu trong tháng</th>
                <th>Doanh thu đã thu trong tháng</th>
                <th>Dư nợ cuối kỳ</th>
                <th>Dư có cuối kỳ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@{if (ViewBag.doanhthu[0] == null)
                {@Html.Raw("0")}
                else
                {@ViewBag.doanhthu[0]}}</td>
                <td>
                    @{if (ViewBag.doanhthu[1] == null)
                    {@Html.Raw("0")}
                    else
                    {@ViewBag.doanhthu[1]}}
            </td>
            <td>@ViewBag.doanhthu[8] </td>
            <td>
                @{if (ViewBag.doanhthu[2] == null)
                {@Html.Raw("0")}
                else
                {@ViewBag.doanhthu[2]}}
        </td>
        <td>
            @{if (ViewBag.doanhthu[3] == null)
            {@Html.Raw("0")}
            else
            {@ViewBag.doanhthu[3]}}
    </td>
    <td>
        @{if (ViewBag.doanhthu[4] == null)
        {@Html.Raw("0")}
        else
        {@ViewBag.doanhthu[4]}}
</td>
<td>
    @{if (ViewBag.doanhthu[5] == null)
    {@Html.Raw("0")}
    else
    {@ViewBag.doanhthu[5]}}
</td>
</tr>
</tbody>
</table>