<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="widget">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-asterisk"></i>
                            <h3>Tin nhắn hệ thống</h3>
                        </div>
                        <div class="widget-content">
                            <center>
                                <br /><br />
                                <h2><small>Chào mừng đến với</small> <br/> Hệ thống in hóa đơn nước Công ty TNHH một thành viên nước sạch Hà Đông</h2>
                                <br /><br />  
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>