
@{
    ViewBag.Title = "BangKeKhachHangDuNoThang";
}


<div style="margin:5% 15% 0 5%">
    <div>
        <div style="float:left;width:45%; font-size:16px">
            <div style="margin-left:15%">CTY TNHH MTV NƯỚC SẠCH HÀ ĐÔNG</div>
            <div style="margin-left:21%"><b>CHI NHÁNH - XN THU NGÂN</b></div>
            <hr style="margin:0 42% 0 23%" />
        </div>
        <div>
            <div style="margin-left: 55%; font-size: 16px"><b>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</b></div>
            <div style="margin-left: 59%; font-size: 16px"><b>Độc lập - Tự do - Hạnh phúc</b></div>
            <hr style="margin:0 25% 0 59%" /><br />
            <div style="margin-left: 59%;"><i>Hà Đông, ngày &nbsp; &nbsp; &nbsp; tháng &nbsp; &nbsp; &nbsp; năm 2016</i></div>
        </div>
    </div>
    <div style="font-size:20px;font-weight:bold; margin:3% 25%">BẢNG KÊ KHÁCH HÀNG DƯ NỢ THÁNG ..... NĂM .....</div>

    <table class="table table-bordered">
        <thead>
            <tr >
                <th>TT</th>
                <th>Tên khách hàng</th>
                <th>MKH</th>
                <th>Địa chỉ</th>
                <th>Tháng</th>
                <th>Số tiền</th>
            </tr>
        </thead>
        <tbody>
            @{
                for (int i = 1; i <= 4; i++)
                {
                    <tr>
                        <td>@i</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
        <th align=CENTER colspan=5 style="text-align:center"><b>Tổng</b></th>
        <th align=CENTER colspan=1></th>
    </table>
    <div style="font-size:18px;font-weight:bold;float:right;margin:1% 10% 0 0">XÍ NGHIỆP THU NGÂN</div>
</div>