
@{
    ViewBag.Title = "DanhSachKhachHangKhongThuPhiBVMT";
}

<div style="margin:5%">
    <div>
        <div style="float:left;width:45%; font-size:16px">
            <div style="margin-left:21%"><b>UBND THÀNH PHỐ HÀ NỘI</b></div>
            <div style="margin-left:15%"><b>CÔNG TY TNHH - MTV NƯỚC SẠCH</b></div>
            <hr style="margin:0 42% 0 23%" />
        </div>
        <div>
            <div style="margin-left: 55%; font-size: 16px"><b>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</b></div>
            <div style="margin-left: 59%; font-size: 16px"><b>Độc lập - Tự do - Hạnh phúc</b></div>
            <hr style="margin:0 25% 0 59%" /><br />
        </div>
    </div>
    <div style="font-size:18px;font-weight:bold; margin:3% 0 0 8%">DANH SÁCH CÁC CƠ SỞ THUỘC ĐỐI TƯỢNG NỘP PHÍ BVMT ĐỐI VỚI NƯỚC THẢI CÔNG NGHIỆP</div>
    <div style="font-size:18px;font-weight:bold; margin:1% 0 0 8%">CÔNG TY NƯỚC SẠCH HÀ ĐÔNG KHÔNG THU PHÍ BVMT ĐỐI VỚI NƯỚC THẢI SINH HOẠT (ÁP DỤNG TỪ 01.12/2014)</div>
    <div style="font-size:18px;margin:1% 0 3% 48%">Tháng 7 - 2016</div>
   
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>TT</th>
                <th>Tên cơ sở</th>
                <th>Địa chỉ(cơ sở sản xuất)</th>
                <th>Ghi chú</th>
                <th>Trước thuế</th>
                <th>Thuế</th>
                <th>Tổng</th>
            </tr>
        </thead>
        <tbody>
            @{
                for (int i = 1; i <= 6; i++)
                {
                    <tr>
                        <td>@i</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div style="font-size:16px;margin:1% 0 1% 48%"><i>Hà Đông, ngày 5 tháng 7 năm 2016</i></div>
    <div style="font-size:18px;margin:0 0 0 20%"><b>PHÒNG TÀI VỤ - KẾ TOÁN 
                                                 &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                                XN KINH DOANH LÃNH ĐẠO CÔNG TY
                                             </b></div>
</div>