<ul class="mainnav">
    <li class="active"><a href="/Print/ChiSoTuyen"><i class="icon-book"></i><span>Danh sách hóa đơn</span> </a></li>
    <li><a href="/Print/dshuyhoadon"><i class="icon-adjust"></i><span>Danh sách hủy hóa đơn</span></a></li>
    <li><a href="/BaoCaoInHoaDon"><i class="icon-book"></i><span>Báo cáo</span> </a></li>
</ul>