<ul class="mainnav">
    <li class="dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-gears"></i>
            <span>Quản lí khu vực</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li class="active"><a href="/Quanhuyen">Quận huyện</a></li>
            <li><a href="/Phuongxa">Phường xã</a></li>
            <li><a href="/Cumdancu">Cụm dân cư</a></li>
            <li><a href="/ToQuanHuyen">Tổ</a></li>
            <li><a href="/Tuyen">Tuyến khách hàng</a></li>
            <li><a href="/Tuyenong">Tuyến ống</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-user"></i>
            <span>Người dùng &amp; nhân viên</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/Nguoidung">Người dùng</a></li>
            <li><a href="/Nhanvien">Nhân viên</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-money"></i><span>Quản lý áp giá</span> </a><b class="caret"></b>
        <ul class="dropdown-menu">
            <li><a href="/Apgia">Áp giá</a></li>
            <li><a href="/LoaiApgia">Loại áp giá</a></li>
        </ul>
    </li>
    <li><a href="/Thongbao"><i class="icon-globe"></i><span>Quản lý thông báo</span> </a></li>
    <li class="dropdown">
        <a href="/Log"><i class="icon-th-list"></i><span>Xem lịch sử hệ thống</span></a>
    </li>
    <li class="dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-user"></i>
            <span>Sao lưu và khôi phục</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/Settings/Backup"><span>Sao lưu cơ sở dữ liệu</span> </a></li>
            <li style="display:none"><a href="/Settings/Restore"><span>Khôi phục cơ sở dữ liệu</span></a></li>
        </ul>
    </li>
</ul>