
<div>
    <div style="float:left;margin-left:12px">
        <div class="tonghop" style="width:30px;height:30px;float:left;display:block"></div><span>Tổng hợp</span>
    </div>
    <div style="float:left;margin-left:32px">
        <div class="dacbiet" style="width:30px;height:30px;float:left"></div><span>Đặc biệt</span>
    </div>
    <div style="float:left;margin-left:32px">
        <div class="huychuacapnhat" style="width:30px;height:30px;float:left"></div><span>Hóa đơn bị hủy/chưa cập nhật</span>
    </div>
    <div style="float:left;margin-left:32px">
        <div class="huydacapnhat" style="width:30px;height:30px;float:left"></div><span>Hóa đơn bị hủy/đã cập nhật</span>
    </div>
    <div style="float:left;margin-left:32px">
        <div class="catnuocBackgroundCss" style="width:30px;height:30px;float:left"></div><span>Khách hàng cắt nước</span>
    </div>
</div>