<style>
    p input {
        width: 10%;
    }
</style>
<p>
    Tháng : <input type="number" class="form-control inputd" name="m1" id="m1" min="1" max="12" required value="@ViewBag.selectedMonth">
    năm: <input type="number" class="form-control inputd" name="y1" id="y1" min="2000" required value="@ViewBag.selectedYear">
</p>
