<style> p input{width:10%}</style>
<p>
    Từ ngày : <input type="number" class="form-control inputd" name="d1" id="d1" min="1" max="31" required>
    tháng : <input type="number" class="form-control inputd" name="m1" id="m1" min="1" max="12" required>
    năm: <input type="number" class="form-control inputd" name="y1" id="y1" min="2000" required>
</p> 
<p>
    Đến ngày : <input type="number" class="form-control inputd" id="d2" name="d2" min="1" max="31" required>
    tháng : <input type="number" class="form-control inputd" id="m2" name="m2" min="1" max="12" required>
    năm: <input type="number" class="form-control inputd" id="y2" name="y2" min="2000" required>
</p>