
@{
    Layout = null;
}

<form action="/nhanvien/quickassign" method="post">
    NhanvienID:<input name="nhanvienid"/>
    Tuyen:<input name="tuyen" placeholder="Duoi dang ,"/>
    <input type="submit" value="Submit"/>
</form>