@model List<HDNHD.Models.DataContexts.Tuyenkhachhang>
@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="text-center" style="margin-top:15px; margin-bottom: 15px">
                    <h1>DANH SÁCH TUYẾN KHÁCH HÀNG</h1>
                </div>
                <table class="table table-striped table-bordered data-table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã tuyến</th>
                            <th>Tên tuyến</th>
                        </tr>
                    </thead>
                    @{ int i = 1; }
                    @foreach (HDNHD.Models.DataContexts.Tuyenkhachhang item in Model)
                    {
                        <tr>
                            <td style="text-align: right;">@(i++)</td>
                            <td>@item.Matuyen</td>
                            <td>@item.Ten</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/Assets/css/tn_common.css" />
}