@{
    ViewBag.Title = "Phục hồi cơ sở dữ liệu";

}
@ViewBag.Message;
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="widget">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3>Phục hồi cơ sở dữ liệu</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <form action="@Url.Action("Restore","Settings")" method="post" enctype="multipart/form-data">
                                <input type="file" name="file" id="file"/>
                                <input type="submit" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


