@{
    ViewBag.Title = "BaoCaoKinhDoanh";

}
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row" style="margin-left:4%">
                <!-- /span6 -->
                <div class="span12">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-bookmark"></i>
                            <h3>Các báo cáo kinh doanh</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <div class="shortcuts">
                                <a href="XuLyDanhSachKhachHang" class="shortcut">
                                    <span class="shortcut-label">Xuất danh sách khách hàng sang excel</span>
                                </a>

                                <a href="XuLyDanhSachKhanhHangKyHopDongMoi" class="shortcut">
                                    <span class="shortcut-label">Danh sách khách hàng ký hợp đồng mới</span>
                                </a>
                                <a href="XuLyDanhSachKhachHangThanhLyHopDong" class="shortcut">
                                    <span class="shortcut-label">Danh sách khách hàng thanh lý hợp đồng</span>
                                </a>
                                <a href="XuLyDanhSachKhachHangTamNgungCapNuoc" class="shortcut">
                                    <span class="shortcut-label">Danh sách khách hàng tạm ngừng cấp nước</span>
                                </a>
                                <a href="XuLyDanhSachKhachHangCapNuocTroLai" class="shortcut">
                                    <span class="shortcut-label">Danh sách khách hàng cấp nước trở lại</span>
                                </a>
                                <a href="XuLyDanhSachKhachHangTheoTuyenOngKyThuat" class="shortcut">
                                    <span class="shortcut-label">Danh sách khách hàng theo tuyến ống kỹ thuật</span>
                                </a>
                                <a href="XuLyDanhSachKhachHangTheoDongHoTongCap2" class="shortcut" style="display:none">
                                    <span class="shortcut-label">Danh sách khách hàng theo đồng hồ tổng cấp 2</span>
                                </a>
                                <a href="XuLyDanhSachKhachHangTheoTuyenKhachHang" class="shortcut">
                                    <span class="shortcut-label">Danh sách khách hàng theo tuyến khách hàng</span>
                                </a>
                                <a href="XuLyDanhSachKhachHangTheoNhanVien" class="shortcut">
                                    <span class="shortcut-label">Danh sách khách hàng theo nhân viên</span>
                                </a>
                                <a href="XuLyDanhSachKhachHangTheoToQuanLy" class="shortcut">
                                    <span class="shortcut-label">Danh sách khách hàng theo tổ quản lý</span>
                                </a>
                                <a href="XuLyDanhSachKhachHangTheoDonViQuanLy" class="shortcut" style="display:none">
                                    <span class="shortcut-label">Danh sách khách hàng theo đơn vị quản lý</span>
                                </a>
                                <a href="XuLyDanhSachKhachHangLoaiGiaTongHop" class="shortcut">
                                    <span class="shortcut-label">Danh sách khách hàng loại giá tổng hợp</span>
                                </a>
                                <a href="XuLyDanhSachKhachHangLoaiGiaDacBiet" class="shortcut">
                                    <span class="shortcut-label">Danh sách khách hàng loại giá đặc biệt</span>
                                </a>
                                <a href="XuLyDanhSachKhachHangCacLoaiGiaKhac" class="shortcut">
                                    <span class="shortcut-label">Danh sách khách hàng các loại giá khác</span>
                                </a>
                                <a href="XuLyDanhSachKhachHangCoGhiChu" class="shortcut">
                                    <span class="shortcut-label">Danh sách khách hàng có ghi chú</span>
                                </a>
                                <a href="XuLyDanhSachKhachHangTheoDinhMuc" class="shortcut">
                                    <span class="shortcut-label">Danh sách khách hàng theo định mức</span>
                                </a>
                                <a href="XuLyDanhSachKhachHangHetHanDinhMuc" class="shortcut">
                                    <span class="shortcut-label">Danh sách khách hàng hết hạn định mức</span>
                                </a>
                                <a href="XuLyDanhSachKhachHangCoSanLuongDotBien" class="shortcut">
                                    <span class="shortcut-label">Danh sách khách hàng có sản lượng đột biến</span>
                                </a>
                                <a href="XuLyDanhSachKhachHangKhongSanLuong" class="shortcut">
                                    <span class="shortcut-label">Danh sách khách hàng không sản lượng</span>
                                </a>
                                <a href="XuLyBaoCaoTongHopSanLuong" class="shortcut">
                                    <span class="shortcut-label">Báo cáo tổng hợp sản lượng</span>
                                </a>
                                @*<a href="XuLyBaoCaoTongHopKhachHangQuanLy" class="shortcut">
                                    <span class="shortcut-label">Báo cáo tổng hợp khách hàng quản lý</span>
                                </a>*@
                                <a href="XuLyBaoCaoThatThoat" class="shortcut">
                                    <span class="shortcut-label">Báo cáo thất thoát</span>
                                </a>
                            </div>
                            <!-- /shortcuts -->
                        </div>
                        <!-- /widget-content -->
                    </div>
                </div>
                <!-- /span6 -->
            </div>
        </div>
    </div>
</div>