@using HoaDonNuocHaDong.Models.BaoCaoKinhDoanh;
@{
    ViewBag.Title = "DanhSachKhachHangLoaiGiaTongHop";
    Layout = "~/Views/Shared/BaoCaoKinhDoanh.cshtml";
    DateTime d1 = ViewBag.dt1;
    HoaDonNuocHaDong.Helper.ApGiaHelper apGia = new HoaDonNuocHaDong.Helper.ApGiaHelper();
    var soLuongKhachHangApTongHop = ViewBag.soLuongKhachHangApTongHop;
}
<style>
    .xulybc {
        min-height: 400px;
        margin: 2% 10%;
    }

    .ten {
        font-size: 25px;
        font-weight: bold;
        margin-left: 20%;
    }

    .loc {
        font-size: 13px;
        font-weight: bold;
        margin: 1% 0 4% 37%;
    }

    .tong {
        margin: 1% 0 0 60%;
    }
</style>
<div class="ten">Danh sách Khách hàng Loại giá tổng hợp</div>
<div class="loc">Tháng @d1.Month năm @d1.Year</div>

<table class="table table-bordered processedInServer">
    <thead>
        <tr>         
            <th rowspan="2">STT</th>   
            <th rowspan="2">Mã KH</th>
            <th rowspan="2">Họ và Tên</th>
            <th rowspan="2">Địa Chỉ</th>
            <th rowspan="2">Tuyến</th>
            <th rowspan="2">TT đọc</th>
            <th rowspan="2">Cách tính</th>
            <th colspan="5" style="text-align:center">Chi tiết theo giá</th>
        </tr>
        <tr>
            <th>Sinh hoạt</th>
            <th>SXXD</th>
            <th>Hành chính</th>
            <th>Công cộng</th>
            <th>Kinh doanh</th>
        </tr>
    </thead>   
    
</table>
<div class="tong"><b>Tổng cộng: @soLuongKhachHangApTongHop khách hàng</b></div>
<script src="~/js/BaoCaoKinhDoanh/DanhSachKhachHangApGiaTongHop.js"></script>