@using HoaDonNuocHaDong.Models.BaoCaoKinhDoanh;
@{
    ViewBag.Title = "DanhSachKhachHangLoaiGiaDacBiet";
    Layout = "~/Views/Shared/BaoCaoKinhDoanh.cshtml";
    dynamic d = ViewData["khachHang"];
    DateTime d1 = ViewBag.dt1;
    var danhSachKhachHangApGiaDacBiet = ViewBag.soLuongKhachHangApGiaDacBiet;

}
<style>
    .xulybc {
        min-height: 400px;
        margin: 2% 10%;
    }

    .ten {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }

    .loc {
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }

    .tong {
        margin: 1% 0 0 60%;
    }
</style>
<div class="ten">Danh sách Khách hàng Loại giá đặc biệt</div>
<div class="loc">Tháng @d1.Month năm @d1.Year</div>
<table class="table table-bordered processedInServer">
    <thead>
        <tr>
            <th rowspan="2">Mã KH</th>
            <th rowspan="2">Họ và Tên</th>
            <th rowspan="2">Địa Chỉ</th>
            <th rowspan="2">Tuyến</th>
            <th rowspan="2">TT đọc</th>
            <th colspan="8" style="text-align:center">Chi tiết theo giá</th>
        </tr>
        <tr>
            <th>SH1</th>
            <th>SH2</th>
            <th>SH3</th>
            <th>SH4</th>
            <th>SXXD</th>
            <th>Hành chính</th>
            <th>Công cộng</th>
            <th>Kinh doanh</th>
        </tr>
    </thead>

</table>
<div class="tong"><b>Tổng cộng: @danhSachKhachHangApGiaDacBiet khách hàng</b></div>

<script src="~/js/BaoCaoKinhDoanh/DanhSachKhachHangApGiaDacBiet.js"></script>