
@{
    ViewBag.Title = "XuLyDanhSachKhachHangCapNuocTroLai";

}
<link href="~/Content/Style.css" rel="stylesheet" />
<div class="row" style="margin-left:4%">
    <!-- /span6 -->
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-bookmark"></i>
                <h3>Tùy chọn báo cáo danh sách khách hàng cấp nước trở lại</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                @using (Html.BeginForm("DanhSachKhachHangCapNuocTroLai", "BaoCaoKinhDoanh"))
                {
                    <div class="xulybc">
                        @Html.Partial("FormNgayThangNam")
                        <p><input type="submit" class="btn btn-success" value="Xuất báo cáo"></p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>