
@{
    ViewBag.Title = "XuLyDanhSachKhachHangTheoTuyenKhachHang";

    List<Tuyenkhachhang> ls = ViewData["tuyenKH"] as List<Tuyenkhachhang>;
}
<link href="~/Content/Style.css" rel="stylesheet" />
<div class="row" style="margin-left:4%">
    <!-- /span6 -->
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-bookmark"></i>
                <h3>Tùy chọn báo cáo danh sách khách hàng theo tuyến khách hàng</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                @using (Html.BeginForm("DanhSachKhachHangTheoTuyenKhachHang", "BaoCaoKinhDoanh"))
                {
                    <div class="xulybc">
                        <p><div>Tuyến:</div>
                        <select name="d1" class="dropdown tuyen" style="width:70%">
                            @foreach (var item in ls)
                            {
                                <option value="@item.TuyenKHID">@item.Matuyen - @item.Ten</option>
                            }
                        </select>
                        </p>
                        <p><input type="submit" class="btn btn-success" value="Xuất báo cáo"></p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
