@{
    ViewBag.Title = "XuLyBaoCaoTongHopSanLuong";
}

<link href="~/Content/Style.css" rel="stylesheet" />
<div class="row" style="margin-left:4%">
    <!-- /span6 -->
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-bookmark"></i>
                <h3>Tùy chọn báo cáo tổng hợp sản lượng</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <!-- Theo tuyến ống kĩ thuật-->
                @using (Html.BeginForm("BaoCaoTongHopSanLuong", "BaoCaoKinhDoanh", new { type = 0}))
                {
                    <div class="xulybc">      
                        <label>Tuyến ống:</label>                  
                        <input type="submit" class="btn btn-success" value="Xuất báo cáo"/>
                    </div>
                }
                <!-- Tuyến khách hàng -->
                <!-- Theo tuyến ống kĩ thuật type = 1-->
                @using (Html.BeginForm("BaoCaoTongHopSanLuong", "BaoCaoKinhDoanh", new { type = 1}))
                {
                    <div class="xulybc">
                        <label>Tuyến khách hàng:</label>
                       
                        <input type="submit" class="btn btn-success" value="Xuất báo cáo">
                    </div>
                }

                <!-- Theo nhân viên type = 2-->
                @using (Html.BeginForm("BaoCaoTongHopSanLuong", "BaoCaoKinhDoanh", new { type = 2 }))
                {
                    <div class="xulybc">
                        <label>Nhân viên:</label>
                       
                        <input type="submit" class="btn btn-success" value="Xuất báo cáo">
                    </div>
                }

                <!-- Theo tổ-->
                @using (Html.BeginForm("BaoCaoTongHopSanLuong", "BaoCaoKinhDoanh", new { type = 3 }))
                {
                    <div class="xulybc">
                        <label>Tổ kĩ thuật:</label>
                      
                        <input type="submit" class="btn btn-success" value="Xuất báo cáo">
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<style>
    .xulybc{
        min-height:0px !important;
    }
</style>