
@{
    ViewBag.Title = "XuLyDanhSachKhachHangTheoTuyenOngKyThuat";

    List<Tuyenong> tuyenOng = ViewData["tuyenOng"] as List<Tuyenong>;
    }
<link href="~/Content/Style.css" rel="stylesheet" />
<div class="row" style="margin-left:4%">
    <!-- /span6 -->
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-bookmark"></i>
                <h3>Tùy chọn báo cáo danh sách khách hàng theo tuyến ống kỹ thuật</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                @using (Html.BeginForm("DanhSachKhachHangTheoTuyenOngKyThuat", "BaoCaoKinhDoanh"))
                {
                    <div class="xulybc">
                        <p><div>Tuyến ống kỹ thuật: </div></p>
                        <select name="d1" class="dropdown tuyenong">
                            @foreach (var item in tuyenOng)
                            {
                                <option value="@item.TuyenongID">@item.Matuyen - @item.Tentuyen</option>
                            }
                        </select>
                        <p><input type="submit" class="btn btn-success" value="Xuất báo cáo"></p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
