@{
    ViewBag.Title = "XuLyDanhSachKhachHangHetHanDinhMuc";

}
<link href="~/Content/Style.css" rel="stylesheet" />
<div class="row" style="margin-left:4%">
    <!-- /span6 -->
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-bookmark"></i>
                <h3>Tùy chọn báo cáo danh sách khách hàng hết hạn định mức</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                @using (Html.BeginForm("DanhSachKhachHangHetHanDinhMuc", "BaoCaoKinhDoanh"))
                {
                    <div class="xulybc">
                        <div class="xulybc">
                            <p>
                                Mức đầu: <input type="number" class="form-control" id="mucdau" name="d1" required style="width:100px" />
                                Đến mức: <input type="number" class="form-control" id="denmuc" name="d2" required style="width:100px" />
                            </p>

                            <p>                               
                                Ngày hết hạn định mức: <input class="datepicker hetdinh" data-val="true" id="Ngayhetap" name="Ngayhetap" type="text" value="">
                            </p>

                            <p><input type="submit" class="btn btn-success" value="Xuất báo cáo"></p>

                            <div class="huongDan">

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
